article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q:before, q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

@font-face {
  font-family: 'Circe bold';
  src: url("../fonts/Circe-Bold.woff2") format("woff2"), url("../fonts/Circe-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circe light';
  src: url("../fonts/Circe-Light.woff2") format("woff2"), url("../fonts/Circe-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circe regular';
  src: url("../fonts/Circe-Regular.woff2") format("woff2"), url("../fonts/Circe-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  font-size: inherit;
  color: #000;
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

button {
  border: none;
  outline: none;
  background: transparent;
}

body {
  background: #1D1C21;
}

.container {
  max-width: 1115px;
  margin: 0 auto;
}

.title-inner {
  font-family: 'Russo One', sans-serif;
  font-weight: 400;
  font-size: 200px;
  line-height: 241px;
  text-align: center;
  text-transform: uppercase;
  color: #1D1C21;
  position: relative;
  text-shadow: 0px 0px 20px #C80a2C21, 0px 0px 20px #C80a2C21, 0px 0px 20px #C80a2C21, 0px 0px 20px #C80a2C21;
}

.title-inner::after {
  content: "";
  position: absolute;
  width: 254px;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(#c80a2c), to(#1d1c21));
  background: linear-gradient(90deg, #c80a2c 0%, #1d1c21 100%);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.subtitle-inner {
  position: absolute;
  z-index: 2;
  filter: none;
  -webkit-filter: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  max-width: 516px;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  color: #fff;
}

.overlay {
  overflow-y: hidden;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.btn {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

.btn-red {
  color: #fff;
  background: #C80A2C;
}

input {
  border: none;
  outline: none;
  background: transparent;
}

.nav {
  background: #000;
  position: absolute;
  top: -10000%;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  padding: 189px 0 89px;
  overflow-y: scroll;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.nav__menu-left {
  width: 340px;
}

.nav__menu-left .nav__menu-list {
  margin: 20px 0 20px;
}

.nav__menu-left .nav__menu-list:first-child {
  margin-bottom: 30px;
}

.nav__menu-left .nav__menu-list:first-child .nav__menu-link {
  color: #C80A2C;
  font-weight: 350;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}

.nav__menu-left .nav__menu-list:not(:first-child):hover .nav__menu-link {
  font-size: 30px;
  line-height: 38px;
  position: relative;
  padding-left: 30px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.nav__menu-left .nav__menu-list:not(:first-child):hover .nav__menu-link::before {
  position: absolute;
  left: 0;
  top: 50%;
  content: "+";
  font-size: 40px;
  text-align: center;
  color: #C80A2C;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.nav__menu-left .nav__menu-link {
  font-family: 'Circe bold';
  font-weight: 700;
  font-size: 24px;
  line-height: 44px;
  color: #fff;
  display: block;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.nav__menu-right {
  color: #F9F9FB;
}

.nav__menu-right .nav__menu-list:first-child {
  font-family: 'Circe regular';
  font-weight: 400;
  color: #C80A2C;
  font-weight: 350;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 20px 0 30px;
}

.nav__menu-right .nav__menu-list {
  font-family: 'Circe bold';
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  margin-bottom: 20px;
}

.nav__menu-right .nav__menu-list-adress {
  margin-bottom: 40px;
  font-family: 'Circe regular';
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  width: 281px;
}

.nav .menu__footer {
  margin: 210px 0 89px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .menu__footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 402px;
}

.nav .menu__footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .menu__footer-link :not(:last-child) {
  margin-right: 100px;
}

.nav .menu__footer-link a {
  font-family: 'Circe regular';
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
  color: #fff;
}

.nav .menu__footer-pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Circe regular';
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
  color: #fff;
}

.nav .menu__footer-pay p {
  margin-right: 14px;
}

.nav .menu__footer-pay-icon img:not(:last-child) {
  margin-right: 11px;
}

.nav.active {
  top: 90px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.header__top {
  background: black;
}

.header {
  position: relative;
}

.header__top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.header__top-wrapper {
  max-width: 1680px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 27px 0 26px;
  position: relative;
}

.header__top-logo {
  font-family: 'Russo One', sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #fff;
  position: relative;
}

.header__top-logo sup {
  top: 0;
  font-size: inherit;
  color: #C80A2C;
}

.header__top-logo::before {
  content: "";
  position: absolute;
  width: 179px;
  height: 5px;
  bottom: -27px;
  left: 0;
  background: #C80A38;
}

.header__top-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top-phone {
  font-family: 'Circe bold';
  font-weight: 700;
  color: #F9F9FB;
  font-size: 16px;
  line-height: 24px;
}

.header__top-btn {
  background: #C80A2C;
  width: 160px;
  font-size: 16px;
  line-height: 24px;
  border-radius: 50px;
  color: #F9F9FB;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  text-align: center;
  padding: 8px 0;
  margin: 0 62px 0 30px;
}

.header__top-fixed {
  position: fixed;
  background: radial-gradient(50% 50% at 50% 50%, #1d1c21 0%, #1D1C21 100%);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.header__slider {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.header__slider-form {
  margin-bottom: 282px;
  max-width: 457px;
}

.header__slider-form-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.header__slider-input {
  width: 220px;
  padding: 10px 20px;
  border: 1px solid #ffffff20;
}

.header__slider-input ::-webkit-input-placeholder {
  font-family: 'Circe regular';
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #F9F9FB;
}

.header__slider-input :-ms-input-placeholder {
  font-family: 'Circe regular';
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #F9F9FB;
}

.header__slider-input ::-ms-input-placeholder {
  font-family: 'Circe regular';
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #F9F9FB;
}

.header__slider-input ::placeholder {
  font-family: 'Circe regular';
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #F9F9FB;
}

.header__slider-form-btn {
  background: #C80A2C;
  width: 100%;
  font-size: 20px;
  line-height: 29px;
  border-radius: 50px;
  color: #F9F9FB;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  text-align: center;
  color: #F9F9FB;
  padding: 10px 0 11px;
}

.header__slider-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 401px;
}

.header__slider-social-title {
  font-family: 'Circe regular';
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #F9F9FB;
  margin-right: 18px;
}

.header__slider-social-link:not(:last-child) {
  margin-right: 10px;
}

.header__slider-social-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__slider-btn {
  width: 42px;
  height: 12px;
  background: url(../img/arrow-prev.svg) no-repeat center;
  position: absolute;
  z-index: 2;
  bottom: 30%;
  left: 10%;
  cursor: pointer;
}

.header__slider-next {
  left: 18%;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.header__slider-next.active {
  background: url(../img/arrow-next.svg) no-repeat center;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}

.header__slider-prev.active {
  background: url(../img/arrow-next.svg) no-repeat center;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.header__slider .slick-dots {
  position: absolute;
  right: 6%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header__slider .slick-dots li {
  width: 5px;
  height: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__slider .slick-dots li button {
  font-size: 0;
  line-height: 0;
  width: 2.5px;
  height: 125px;
  background: #ffffff20;
  border: none;
  outline: none;
  display: block;
}

.header__slider .slick-dots li.slick-active {
  width: 5px;
}

.header__slider .slick-dots li.slick-active button {
  width: 5px;
  background: #C80A2C;
}

.header__slider-block {
  background: radial-gradient(50% 50% at 50% 50%, rgba(29, 28, 33, 0.85) 0%, #1D1C21 100%), url(../img/slider-bg.jpg);
  background-size: cover;
  padding: 263px 0 89px 120px;
}

.header__slider-title {
  font-size: 70px;
  line-height: 84px;
  text-transform: uppercase;
  color: #fff;
  width: 530px;
  font-family: 'Russo One', sans-serif;
  font-weight: 400;
}

.header__slider-text {
  font-size: 18px;
  line-height: 27px;
  color: #F9F9FB;
  width: 540px;
  margin: 7px 0 45px;
  font-family: 'Circe regular';
  font-weight: 400;
}

.mobile-menu {
  width: 33px;
  height: 29px;
  position: relative;
  cursor: pointer;
}

.mobile-menu__line {
  position: absolute;
  left: 0;
  right: 0;
  background: #fff;
  height: 3px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.mobile-menu__line:last-child {
  bottom: 0;
}

.mobile-menu__line:last-child.active, .mobile-menu__line:first-child.active {
  opacity: 0;
}

.mobile-menu__line:nth-child(2), .mobile-menu__line:nth-child(3) {
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.mobile-menu__line:nth-child(2).active {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.mobile-menu__line:nth-child(3).active {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.benefits {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(29, 28, 33, 0.85)), color-stop(42.75%, #1D1C21)), url(../img/benefits-bg.jpg) no-repeat center;
  background: linear-gradient(0deg, rgba(29, 28, 33, 0.85) 0%, #1D1C21 42.75%), url(../img/benefits-bg.jpg) no-repeat center;
  background-size: cover;
  padding: 60px 0 270px 0;
  position: relative;
}

.benefits .title-inner::after {
  bottom: 30%;
  left: 50%;
  background: -webkit-gradient(linear, left top, right top, from(#201e2d), color-stop(50%, #c80a2c), to(#201e2d));
  background: linear-gradient(90deg, #201e2d, #c80a2c 50%, #201e2d);
}

.benefits__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.benefits__wrapper-room {
  width: 350px;
  height: 202px;
  padding: 40px 38px 40px 40px;
  color: #fff;
  position: relative;
  margin-bottom: 30px;
}

.benefits__wrapper-room::before {
  content: "";
  width: 272px;
  height: 5px;
  background: #C80A2C;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.benefits__wrapper-room__hash-nubmer {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  background: #ffffff1a;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits__wrapper-room__title {
  font-family: 'Circe bold';
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #F9F9FB;
  margin-bottom: 15px;
}

.benefits__wrapper-room__title span {
  color: #C80A2C;
}

.benefits__wrapper-room__text {
  font-family: 'Circe regular';
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #F9F9FB;
}

.benefits__wrapper-room:first-child {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(29, 28, 33, 0.9)), to(rgba(29, 28, 33, 0.9))), url(../img/benefits-1.jpg) no-repeat center;
  background: linear-gradient(0deg, rgba(29, 28, 33, 0.9), rgba(29, 28, 33, 0.9)), url(../img/benefits-1.jpg) no-repeat center;
}

.benefits__wrapper-room:nth-child(2) {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(29, 28, 33, 0.9)), to(rgba(29, 28, 33, 0.9))), url(../img/benefits-2.jpg) no-repeat center;
  background: linear-gradient(0deg, rgba(29, 28, 33, 0.9), rgba(29, 28, 33, 0.9)), url(../img/benefits-2.jpg) no-repeat center;
}

.benefits__wrapper-room:nth-child(3) {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(29, 28, 33, 0.9)), to(rgba(29, 28, 33, 0.9))), url(../img/benefits-3.jpg) no-repeat center;
  background: linear-gradient(0deg, rgba(29, 28, 33, 0.9), rgba(29, 28, 33, 0.9)), url(../img/benefits-3.jpg) no-repeat center;
}

.benefits__wrapper-room:nth-child(4) {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(29, 28, 33, 0.9)), to(rgba(29, 28, 33, 0.9))), url(../img/benefits-4.jpg) no-repeat center;
  background: linear-gradient(0deg, rgba(29, 28, 33, 0.9), rgba(29, 28, 33, 0.9)), url(../img/benefits-4.jpg) no-repeat center;
}

.benefits__wrapper-room:nth-child(5) {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(29, 28, 33, 0.9)), to(rgba(29, 28, 33, 0.9))), url(../img/benefits-5.jpg) no-repeat center;
  background: linear-gradient(0deg, rgba(29, 28, 33, 0.9), rgba(29, 28, 33, 0.9)), url(../img/benefits-5.jpg) no-repeat center;
}

.benefits__wrapper-room:last-child {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(29, 28, 33, 0.9)), to(rgba(29, 28, 33, 0.9))), url(../img/benefits-6.jpg) no-repeat center;
  background: linear-gradient(0deg, rgba(29, 28, 33, 0.9), rgba(29, 28, 33, 0.9)), url(../img/benefits-6.jpg) no-repeat center;
}

.benefits__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  background-image: url(../img/benefits-bottom.png);
  background-position: left top;
  background-repeat: no-repeat;
  border: 5px solid #C80A2C;
  padding: 50px 65px 50px 0;
}

.benefits__bottom-title {
  font-family: 'Circe bold';
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  color: #F9F9FB;
  margin-right: 63px;
}

.benefits__bottom-title span {
  color: #C80A2C;
}

.benefits__bottom-btn {
  background: #C80A2C;
  width: 160px;
  font-size: 16px;
  line-height: 24px;
  border-radius: 50px;
  color: #F9F9FB;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  text-align: center;
  padding: 8px 0;
}

.benefits__link {
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  animation: keyDown 3s ease-in-out infinite;
  -webkit-animation: keyDown 3s ease-in-out infinite;
}

.benefits__link span {
  height: 15px;
  width: 15px;
  display: block;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  border-right: 2px solid rgba(255, 255, 255, 0.1);
  margin: -5px auto;
  animation: arrow-down 2s infinite;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-animation: arrow-down 2s infinite;
}

.benefits__link span:nth-child(2) {
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  border-right: 2px solid rgba(255, 255, 255, 0.1);
}

.benefits__link span:nth-child(3) {
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  border-right: 2px solid rgba(255, 255, 255, 0.3);
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}

.benefits__link span:last-child {
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

@-webkit-keyframes keyDown {
  0% {
    bottom: 120px;
  }
  50% {
    bottom: 110px;
  }
  100% {
    bottom: 120px;
  }
}

@keyframes keyDown {
  0% {
    bottom: 120px;
  }
  50% {
    bottom: 110px;
  }
  100% {
    bottom: 120px;
  }
}

@-webkit-keyframes arrow-down {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-10px, -10px);
    -webkit-transform: rotate(45deg) translate(-10px, -10px);
    -moz-transform: rotate(45deg) translate(-10px, -10px);
    -ms-transform: rotate(45deg) translate(-10px, -10px);
    -o-transform: rotate(45deg) translate(-10px, -10px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(10px, 10px);
    -webkit-transform: rotate(45deg) translate(10px, 10px);
    -moz-transform: rotate(45deg) translate(10px, 10px);
    -ms-transform: rotate(45deg) translate(10px, 10px);
    -o-transform: rotate(45deg) translate(10px, 10px);
  }
}

@keyframes arrow-down {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-10px, -10px);
    -webkit-transform: rotate(45deg) translate(-10px, -10px);
    -moz-transform: rotate(45deg) translate(-10px, -10px);
    -ms-transform: rotate(45deg) translate(-10px, -10px);
    -o-transform: rotate(45deg) translate(-10px, -10px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(10px, 10px);
    -webkit-transform: rotate(45deg) translate(10px, 10px);
    -moz-transform: rotate(45deg) translate(10px, 10px);
    -ms-transform: rotate(45deg) translate(10px, 10px);
    -o-transform: rotate(45deg) translate(10px, 10px);
  }
}

.gallery {
  background: #1D1C21;
  padding-top: 60px;
  margin-bottom: -170px;
}

.gallery__title {
  position: relative;
}

.gallery__title::after {
  left: 29%;
  bottom: 30%;
}

.gallery__subtitle {
  display: block;
  text-align: left;
  left: 31%;
  top: 45%;
  width: 318px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.gallery__sliders {
  z-index: 3;
}

.gallery__sliders .header__slider-btn {
  right: 30px;
  bottom: -52px;
  left: auto;
}

.gallery__sliders .header__slider-prev {
  right: 122px;
}

.gallery__slider-block-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.gallery__slider-text {
  width: 255px;
  font-family: 'Circe regular';
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #F9F9FB;
  margin-left: 10px;
  padding-top: 15px;
}

.gallery__slider-img {
  width: 825px;
  position: relative;
}

.gallery__slider-img img {
  width: 100%;
}

.gallery__slider-prev {
  width: 540px;
  z-index: 1;
  top: -175px;
}

.gallery__slider-prev .slick-slide {
  width: 540px;
}

.statistik {
  background: #1D1C21;
}

.statistik__subtitle {
  display: block;
  text-align: left;
  left: 20%;
  top: 45%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
}

.statistik__title::after {
  left: 30%;
  bottom: 40%;
}

.statistik__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.statistik__block {
  width: 254px;
}

.statistik__number {
  font-size: 36px;
  line-height: 43px;
  color: #C80A2C;
  font-family: 'Russo One', sans-serif;
  font-weight: 400;
  padding-bottom: 15px;
  margin-bottom: 20px;
  position: relative;
}

.statistik__number ::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#c80a2c), to(#1d1c21));
  background: linear-gradient(90deg, #c80a2c 0%, #1d1c21 100%);
}

.statistik__number span {
  font-size: 20px;
  line-height: 30px;
  font-family: 'Circe regular';
  font-weight: 400;
}

.statistik-text {
  font-family: 'Circe regular';
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #fff;
}

.team {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(29, 28, 33, 0.85)), color-stop(42.75%, #1D1C21)), url(../img/team_bg.jpg) no-repeat center;
  background: linear-gradient(0deg, rgba(29, 28, 33, 0.85) 0%, #1D1C21 42.75%), url(../img/team_bg.jpg) no-repeat center;
  background-size: cover;
  padding-bottom: 185px;
}

.team__title::after {
  left: 30%;
  bottom: 40%;
}

.team__subtitle {
  display: block;
  text-align: left;
  left: 20%;
  top: 45%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
}

.team__sliders .header__slider-btn {
  bottom: auto;
  left: auto;
  right: 0;
  top: -75px;
}

.team__sliders .header__slider-prev {
  right: 86px;
}

.team__sliders .slick-dots {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
  right: 0;
  bottom: -63px;
  height: 2.5px;
  width: 100%;
  background: #ffffff20;
}

.team__sliders .slick-dots li {
  line-height: 0;
  font-size: 0;
}

.team__sliders .slick-dots li button {
  line-height: 0;
  font-size: 0;
  height: 5px;
  width: 160px;
}

.team__sliders .slick-dots li.slick-active button {
  background: #C80A2C;
}

.team__slider-block {
  position: relative;
  line-height: 0;
  width: 255px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.team__slider-block::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(12.5%, rgba(200, 10, 44, 0)), color-stop(85.42%, rgba(200, 10, 44, 0.3)), to(rgba(200, 10, 44, 0.5)));
  background: linear-gradient(180deg, rgba(200, 10, 44, 0) 12.5%, rgba(200, 10, 44, 0.3) 85.42%, rgba(200, 10, 44, 0.5) 100%);
}

.team__slider-block:hover::before {
  background: transparent;
}

.team__slider-block::after {
  position: absolute;
  content: "";
  width: 175px;
  height: 5px;
  background: #C80A2C;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.team__slider-block-wrapp {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 4;
}

.team__slider-block-name {
  font-family: 'Circe bold';
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  text-align: center;
  color: #fff;
}

.team__slider-block-jobs {
  font-family: 'Circe regular';
  font-weight: 400;
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 24px;
  color: #fff;
}

.team__slider-block-label {
  display: block;
  padding: 3px 0 3px 26px;
  height: 26px;
  width: 176px;
  background: #C80A2C url(../img/logo-mini.jpg) no-repeat left center;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #fff;
  font-family: 'Circe regular';
  font-weight: 400;
  position: absolute;
  top: 0;
  right: 26px;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.team__slider-block-btn {
  font-size: 0;
  line-height: 0;
}

.team__slider-block:hover .team__slider-block-btn {
  width: 175px;
  font-family: 'Circe regular';
  font-weight: 400;
  padding: 8px 0 8px;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  background: #C80A2C;
  border-radius: 40px;
}

.team__slider-block:hover .team__slider-block-jobs {
  margin-bottom: 10px;
}

.abonement {
  background: #1D1C21;
  padding-bottom: 79px;
}

.abonement__title::after {
  left: 29.5%;
  bottom: 34%;
}

.abonement__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  left: 20%;
  top: 45%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
}

.abonement__subtitle i {
  font-family: 'Circe bold';
  font-weight: 700;
  text-transform: lowercase;
  font-size: 20px;
  line-height: 29px;
  font-style: normal;
  color: #F9F9FB;
}

.abonement__block {
  margin-top: 3px;
  border: 5px solid #F9F9FB;
  padding: 60px;
}

.abonement__block-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.abonement__block-top-items {
  font-family: 'Circe regular';
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.abonement__block-top-items-title {
  font-size: 14px;
  line-height: 21px;
  color: #F9F9FB;
  margin-right: 45px;
}

.abonement__block-top-items-list {
  font-size: 14px;
  line-height: 21px;
  color: #F9F9FB;
  opacity: 0.2;
}

.abonement__block-top-items-list:not(:last-child) {
  margin-right: 117px;
}

.abonement__block-top-items .color-red {
  color: #C80A2C;
  opacity: 1;
}

.abonement__block-top-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1px;
  background: #ffffff20;
  margin-top: 5px;
}

.abonement__block-top-line-red {
  display: block;
  height: 5px;
  background: #C80A2C;
  width: 131px;
}

.abonement__block-top-img {
  position: relative;
}

.abonement__block-top-img p {
  font-family: 'Circe bold';
  font-weight: 700;
  font-size: 24px;
  line-height: 0;
  color: #F9F9FB;
  position: absolute;
  top: 50%;
  left: 70px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.abonement__block-bottom {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  position: relative;
}

.abonement__block-bottom-left {
  width: 656px;
}

.abonement__block-bottom-questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.abonement__block-bottom-questions span {
  font-family: 'Circe regular';
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #F9F9FB;
  margin-left: 19px;
}

.abonement__block-bottom-question-figur {
  font-family: 'Russo One', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #f9f9fc10;
  position: relative;
}

.abonement__block-bottom-question-figur sub {
  position: absolute;
  left: 0;
  bottom: 2px;
  z-index: 2;
  font-size: 16px;
  line-height: 19px;
  color: #C80A2C;
}

.abonement__block-bottom-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
  color: #F9F9FB;
  margin: 15px 0 40px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ffffff20;
}

.abonement__block-bottom-form-label {
  border: 1px solid #ffffff20;
  width: 100%;
  padding: 13px 0 13px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}

.abonement__block-bottom-form-label:not(:last-child) {
  margin-bottom: 15px;
}

.abonement__block-bottom-form-label .input-check {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.abonement__block-bottom-form-label .check-style {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid #ffffff20;
  margin-left: -20px;
  display: block;
}

.abonement__block-bottom-form-label .input-check:checked + .check-style::before {
  content: "+";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #C80A2C;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  line-height: 18px;
}

.abonement__block-bottom-form-label .input-check:checked + .check-style {
  border: 1px solid transparent;
  color: #F9F9FB;
}

.abonement__block-bottom-form-label .check-title {
  color: #f9f9fb59;
  margin-left: 10px;
  font-family: 'Circe regular';
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
}

.abonement__block-bottom-form-label.active {
  border-color: #C80A2C;
}

.abonement__block-bottom-btn {
  margin-top: 20px;
  padding: 8px 0px;
  border: 1px solid #ffffff20;
  border-radius: 50px;
  color: #ffffff20;
  width: 160px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
}

.abonement__block-bottom-btn:last-of-type {
  margin: 0 20px;
}

.abonement__block-bottom-btn.active {
  background: #C80A2C;
  width: 160px;
  font-size: 16px;
  line-height: 24px;
  border-radius: 50px;
  color: #F9F9FB;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  text-align: center;
  color: #F9F9FB;
  pointer-events: none;
}

.abonement__block-bottom-text {
  font-family: 'Circe regular';
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff20;
}

.abonement__block-bottom-img {
  width: 290px;
  position: absolute;
  right: 0;
  height: 483px;
  background: -webkit-gradient(linear, left top, left bottom, from(#C80A2C), to(#730519));
  background: linear-gradient(180deg, #C80A2C 0%, #730519 100%);
  z-index: 9;
  top: 60px;
}

.abonement__block-bottom-img-text {
  font-family: 'Circe bold';
  font-weight: 700;
  color: #F9F9FB;
  width: 216px;
  margin: 40px auto 28px;
  text-align: center;
  font-size: 20px;
  line-height: 29px;
}

.card {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(29, 28, 33, 0.85)), color-stop(42.75%, #1D1C21)), url(../img/card-bg.jpg) no-repeat center;
  background: linear-gradient(0deg, rgba(29, 28, 33, 0.85) 0%, #1D1C21 42.75%), url(../img/card-bg.jpg) no-repeat center;
  padding-top: 33px;
  padding-bottom: 145px;
}

.card__title::after {
  left: 55%;
  bottom: 35%;
}

.card__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 23px;
}

.card__block {
  width: 255px;
  background: #fff;
  position: relative;
  padding: 45px 30px 54px 30px;
}

.card__block-top {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -37px;
}

.card__block-bottom {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.card__block-subtitle {
  font-family: 'Circe regular';
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
  text-transform: uppercase;
  color: #C80A2C;
}

.card__block-title {
  font-family: 'Circe bold';
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  color: #1D1C21;
  margin-bottom: 15px;
}

.card__block li {
  font-family: 'Circe regular';
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: #1D1C21;
  padding-left: 13px;
  position: relative;
}

.card__block li::before {
  content: "+";
  position: absolute;
  left: 0;
  top: 0;
  font-size: 14px;
  color: #C80A2C;
}

.card__block-btn {
  font-family: 'Circe regular';
  font-weight: 400;
  border: 1px solid #C80A2C;
  border-radius: 40px;
  width: 195px;
  text-align: center;
  padding: 8px 0;
  margin-top: 30px;
  font-size: 16px;
  line-height: 24px;
  color: #C80A2C;
}

.card__block-bottom {
  font-family: 'Circe bold';
  font-weight: 700;
  background: #C80A2C;
  width: 195px;
  position: absolute;
  bottom: -25px;
  text-align: center;
  padding: 10px 0 5px;
  font-size: 24px;
  line-height: 35px;
  color: #fff;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.testimonial {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(29, 28, 33, 0.85)), color-stop(42.75%, #1D1C21));
  background: linear-gradient(0deg, rgba(29, 28, 33, 0.85) 0%, #1D1C21 42.75%);
  padding-top: 60px;
}

.testimonial__subtitle {
  text-align: right;
  left: auto;
  right: 0;
  top: 45%;
}

.testimonial__title::after {
  right: 22%;
  top: 69%;
  transform: rotate(180deg) translate(-50%, -50%);
  -webkit-transform: rotate(180deg) translate(-50%, -50%);
  -moz-transform: rotate(180deg) translate(-50%, -50%);
  -ms-transform: rotate(180deg) translate(-50%, -50%);
  -o-transform: rotate(180deg) translate(-50%, -50%);
}

.testimonial__slider-block {
  position: relative;
}

.testimonial__slider-block::before {
  content: "";
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #25232A;
  z-index: 1;
}

.testimonial__slider .header__slider-next {
  left: 45%;
}

.testimonial__slider .header__slider-prev {
  left: 35%;
}

.testimonial__slider .header__slider-btn {
  bottom: 20%;
}

.testimonial__slider .slick-dots {
  position: absolute;
  right: 130px;
  top: 58%;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  transform: translateY(-50%) rotate(90deg);
  -webkit-transform: translateY(-50%) rotate(90deg);
  -moz-transform: translateY(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) rotate(90deg);
  -o-transform: translateY(-50%) rotate(90deg);
}

.testimonial__slider .slick-dots li {
  line-height: 0;
  font-size: 0;
  height: 2px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial__slider .slick-dots li button {
  font-size: 0;
  line-height: 0;
  height: 2px;
  background: #F9F9FB;
  width: 50px;
}

.testimonial__slider .slick-dots li.slick-active button {
  width: 50px;
  background: #C80A2C;
  height: 5px;
}

.testimonial__slider-content {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 60px 48px 60px;
}

.testimonial__slider-content::before {
  content: "";
  position: absolute;
  height: 5px;
  background: #C80A2C;
  z-index: 2;
  left: 50%;
  width: 89%;
  bottom: 0;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.testimonial__slider-img {
  width: 255px;
  padding-top: 10px;
}

.testimonial__slider-text {
  width: 444px;
}

.testimonial__slider-text .slider-text {
  font-family: 'Circe regular';
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  color: #F9F9FB;
}

.testimonial__slider-title {
  margin: 30px 0 55px;
  font-family: 'Circe bold';
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  color: #C80A2C;
}

.testimonial__slider-item {
  width: 190px;
  padding-top: 20px;
}

.testimonial__slider-item .testimonial__slider-list li {
  font-family: 'Circe regular';
  font-weight: 400;
  font-size: 15px;
  line-height: 47px;
  color: #F9F9FB;
}

.testimonial__slider-item .testimonial__slider-list li.active {
  color: #C80A2C;
}

.testimonial__slider-btn {
  background: #C80A2C;
  width: 160px;
  font-size: 16px;
  line-height: 24px;
  border-radius: 40px;
  color: #F9F9FB;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  text-align: center;
  font-family: 'Circe regular';
  font-weight: 400;
  padding: 8px 0;
  margin-bottom: 48px;
}

.testimonial__slider-list {
  padding-left: 25px;
}

.adress {
  padding: 33px 0 0 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(29, 28, 33, 0.85)), color-stop(42.75%, #1D1C21));
  background: linear-gradient(0deg, rgba(29, 28, 33, 0.85) 0%, #1D1C21 42.75%);
}

.adress-container {
  position: relative;
  padding-bottom: 149px;
}

.adress__title {
  font-size: 180px;
}

.adress__title::after {
  left: 20%;
  top: 61%;
}

.adress__subtitle {
  left: 25%;
}

.adress__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
}

.adress__top-block {
  width: 303px;
  color: #F9F9FB;
}

.adress__top-block:last-child .adress__top-text {
  width: 255px;
}

.adress__top-title {
  font-family: 'Circe bold';
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  margin-bottom: 20px;
}

.adress__top-text {
  font-family: 'Circe regular';
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
}

.adress__top-text span {
  display: block;
}

.adress__bottom {
  width: 730px;
  padding: 40px 43px 43px 40px;
  background: #25232A;
  -webkit-box-shadow: 0px 7px 40px rgba(200, 10, 44, 0.6);
          box-shadow: 0px 7px 40px rgba(200, 10, 44, 0.6);
  color: #F9F9FB;
  position: absolute;
  left: 0;
  z-index: 2;
  bottom: -83px;
}

.adress__bottom-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  position: relative;
}

.adress__bottom-contact::before {
  content: "";
  position: absolute;
  bottom: -43px;
  left: 0;
  right: 0;
  background: #C80A2C;
  height: 3px;
}

.adress__bottom-left a {
  font-family: 'Circe bold';
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  text-transform: uppercase;
  color: #F9F9FB;
}

.adress__bottom-left button {
  font-family: 'Circe regular';
  font-weight: 400;
  background: #C80A2C;
  width: 160px;
  font-size: 16px;
  line-height: 24px;
  border-radius: 40px;
  color: #F9F9FB;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  text-align: center;
  color: #F9F9FB;
  padding: 8px 0 8px;
  display: block;
  margin-top: 10px;
}

.adress__bottom-right a {
  font-family: 'Circe bold';
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  color: #F9F9FB;
}

.adress__bottom-right p {
  font-family: 'Circe regular';
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  color: #F9F9FB;
  margin-top: 18px;
}

.map__block {
  width: 100%;
  height: 430px;
  filter: grayscale(0.5);
  -webkit-filter: grayscale(0.5);
}

.footer {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(29, 28, 33, 0.85)), color-stop(42.75%, #1D1C21));
  background: linear-gradient(0deg, rgba(29, 28, 33, 0.85) 0%, #1D1C21 42.75%);
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 120px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer__top-btn {
  background: #C80A2C;
  width: 160px;
  font-size: 16px;
  line-height: 24px;
  border-radius: 40px;
  color: #F9F9FB;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  text-align: center;
  font-family: 'Circe regular';
  font-weight: 400;
  padding: 8px 0 8px;
}

.footer__social p {
  margin-right: 18px;
  font-family: 'Circe regular';
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #F9F9FB;
}

.footer__social-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social-block a:not(:last-of-type) {
  margin-right: 10px;
}

.footer__phone {
  font-family: 'Circe bold';
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #F9F9FB;
  margin-right: 30px;
}

.footer__bottom {
  padding: 25px 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Circe regular';
  font-weight: 400;
  font-size: 11px;
  line-height: 17px;
  color: #666473;
}

.footer__bottom-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__bottom-list li:not(:last-child) {
  margin-right: 100px;
}

.footer__bottom-list a {
  color: #F9F9FB;
}

.footer__bottom-payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__bottom-payment p {
  color: #F9F9FB;
}

.footer__bottom-payment-block {
  margin-left: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__bottom-payment-block img:not(:last-child) {
  margin-right: 10px;
}

.footer__bottom-develop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__bottom-develop p:not(:last-child) {
  margin-right: 10px;
}

@media (max-width: 1800px) {
  .title-inner {
    font-size: 150px;
  }
}

@media (max-width: 1367px) {
  .title-inner {
    font-size: 130px;
    line-height: 200px;
    text-shadow: 0px 0px 10px #C80a2C21, 0px 0px 10px #C80a2C21, 0px 0px 10px #C80a2C21, 0px 0px 10px #C80a2C21;
  }
  .subtitle-inner {
    font-size: 30px;
    line-height: 38px;
  }
}

@media (max-width: 1200px) {
  .title-inner {
    font-size: 100px;
  }
  .subtitle-inner {
    font-size: 25px;
    max-width: 440px;
  }
}

@media (max-width: 980px) {
  .title-inner {
    font-size: 80px;
    line-height: 150px;
  }
  .subtitle-inner {
    font-size: 20px;
    line-height: 25px;
  }
}

@media (max-width: 768px) {
  .title-inner {
    font-size: 60px;
    line-height: 120px;
  }
  .subtitle-inner {
    font-size: 15px;
    line-height: 20px;
  }
}

@media (max-width: 590px) {
  .title-inner {
    font-size: 0;
  }
  .subtitle-inner {
    font-size: 25px;
    line-height: 30px;
  }
}

@media (max-width: 1700px) {
  .header__top-wrapper {
    padding: 27px 10px 26px;
  }
}

@media (max-width: 1367px) {
  .header__top-wrapper {
    padding: 27px 20px 26px;
  }
  .header .nav {
    padding: 30px 20px 89px;
  }
  .header .nav-wrapper {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .header .nav .menu__footer-link :not(:last-child) {
    margin-right: 50px;
  }
  .header .nav .menu__footer {
    margin: 30px 0 30px;
  }
}

@media (max-width: 1200px) {
  .nav .header__slider-social-title {
    margin-right: 0;
  }
  .nav .menu__footer-social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 200px;
  }
  .nav .menu__footer-pay {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 980px) {
  .header__slider-block {
    padding: 130px 0 30px 50px;
    background-size: contain;
  }
  .header__slider-form {
    margin-bottom: 40px;
  }
  .header__slider-social {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    max-width: 100%;
  }
  .header .nav .menu__footer-link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .nav .menu__footer-link :not(:last-child) {
    margin-right: 0px;
  }
}

@media (max-width: 768px) {
  .header__top-logo {
    display: inline-block;
    font-size: 25px;
  }
  .header__top-logo::before {
    width: 100%;
  }
  .header__slider-block {
    padding: 130px 0 30px 30px;
  }
  .header__top-contact {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 55%;
  }
  .header__top-btn {
    display: none;
  }
  .header__slider-title {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    font-size: 50px;
    line-height: 60px;
  }
  .header__slider-text {
    width: 90%;
    text-align: center;
    margin: 7px auto 45px;
  }
  .header__slider-form {
    margin: 0 auto 40px;
  }
  .header__slider-form-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__slider-input {
    width: 100%;
  }
  .header__slider-input:not(:last-child) {
    margin-bottom: 20px;
  }
  .header__slider-social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__slider .slick-dots {
    top: 35%;
    right: 2%;
  }
  .header__slider .slick-dots li,
  .header__slider .slick-dots li.slick-active,
  .header__slider .slick-dots li button {
    height: 50px;
  }
  .header .nav .menu__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .nav .menu__footer-link {
    margin: 20px 0;
  }
  .header .nav .nav-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 590px) {
  .header__slider-block {
    padding: 130px 10px 30px 10px;
  }
  .header__slider-title {
    width: 80%;
    font-size: 40px;
    line-height: 50px;
  }
  .header__slider-social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__slider-social-title {
    margin-right: 0;
  }
}

@media (max-width: 450px) {
  .header__top-logo {
    font-size: 20px;
  }
  .header__top-phone {
    display: none;
  }
  .header__top-contact {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header__slider-title {
    font-size: 30px;
    line-height: 40px;
  }
  .header__slider-text {
    line-height: 22px;
  }
  .header .nav .nav__menu-right .nav__menu-list-adress {
    width: 100%;
  }
  .header .nav .menu__footer-pay-icon {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 1200px) {
  .benefits {
    padding: 60px 10px 270px 10px;
  }
}

@media (max-width: 980px) {
  .benefits {
    padding: 60px 10px 150px 10px;
  }
  @-webkit-keyframes keyDown {
    0% {
      bottom: 50px;
    }
    50% {
      bottom: 40px;
    }
    100% {
      bottom: 50px;
    }
  }
  @keyframes keyDown {
    0% {
      bottom: 50px;
    }
    50% {
      bottom: 40px;
    }
    100% {
      bottom: 50px;
    }
  }
}

@media (max-width: 768px) {
  .benefits__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .benefits__bottom {
    padding: 35px 30px 35px 0;
  }
  .benefits__bottom-title {
    text-align: center;
    line-height: 30px;
  }
}

@media (max-width: 590px) {
  .benefits {
    padding: 10px 10px 60px 10px;
    margin-top: -1px;
    background-size: contain;
  }
  .benefits .title-inner::after {
    bottom: 10%;
  }
  .benefits__title {
    margin-bottom: 25px;
  }
  .benefits__bottom {
    padding: 10px 10px 10px 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-size: cover;
  }
  .benefits__bottom-title {
    text-align: center;
    line-height: 25px;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .benefits__bottom-title span {
    color: #fff;
  }
  .benefits__link {
    display: none;
  }
}

@media (max-width: 450px) {
  .benefits__wrapper-room {
    padding: 40px 25px 40px 25px;
  }
}

@media (max-width: 1550px) {
  .gallery .gallery__title {
    font-size: 130px;
  }
  .gallery__subtitle {
    top: 50%;
  }
}

@media (max-width: 1200px) {
  .gallery .gallery__title {
    font-size: 100px;
  }
  .gallery__title::after {
    left: 55%;
  }
  .gallery .gallery__subtitle {
    line-height: 30px;
    width: 316px;
    left: 53%;
    text-align: center;
  }
  .gallery__wrapper {
    padding: 0 10px;
  }
}

@media (max-width: 980px) {
  .gallery {
    padding-bottom: 60px;
    margin-bottom: 0;
  }
  .gallery .gallery__title {
    font-size: 80px;
  }
  .gallery .gallery__subtitle {
    width: 250px;
    text-align: center;
    left: 50%;
  }
  .gallery__title::after {
    left: 55%;
  }
  .gallery__slider-block-inner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gallery__slider-text {
    width: 100%;
    margin-left: 0px;
    padding: 0 5px;
  }
  .gallery__slider-prev {
    display: none;
  }
  .gallery__sliders .header__slider-prev {
    left: 10%;
    bottom: -20px;
    right: auto;
  }
  .gallery__sliders .header__slider-prev.active {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }
  .gallery__sliders .header__slider-btn {
    right: 10%;
    bottom: -20px;
  }
}

@media (max-width: 768px) {
  .gallery .gallery__title {
    font-size: 60px;
  }
  .gallery .gallery__subtitle {
    width: 100%;
    line-height: 20px;
  }
  .gallery__slider-img {
    width: 100%;
  }
}

@media (max-width: 590px) {
  .gallery .gallery__title {
    font-size: 0px;
  }
  .gallery .gallery__subtitle {
    font-size: 25px;
    line-height: 30px;
  }
  .gallery__title::after {
    bottom: 15%;
  }
}

@media (max-width: 1200px) {
  .statistik__subtitle {
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }
  .statistik__title::after {
    left: 55%;
  }
  .statistik__wrapper {
    padding: 0 10px;
  }
  .statistik__block {
    margin-bottom: 20px;
  }
}

@media (max-width: 590px) {
  .statistik__subtitle {
    text-align: center;
  }
  .statistik__title::after {
    bottom: 20%;
  }
  .statistik__block {
    width: 51%;
    margin: 0 auto 20px;
  }
}

@media (max-width: 450px) {
  .statistik__subtitle {
    max-width: 100%;
    width: 100%;
  }
}

@media (max-width: 1550px) {
  .team .team__title {
    font-size: 150px;
  }
}

@media (max-width: 1350px) {
  .team .team__title {
    font-size: 130px;
  }
  .team__sliders .header__slider-btn {
    top: -50px;
  }
}

@media (max-width: 1200px) {
  .team__title::after {
    left: 35%;
  }
  .team .team__title {
    font-size: 100px;
  }
  .team__slider-block {
    margin: 0 auto;
  }
  .team__sliders .slick-dots {
    width: 80%;
    margin: 0 auto;
  }
  .team__sliders .slick-dots li {
    width: 14.5%;
  }
  .team__sliders .slick-dots li button {
    width: 100%;
    display: inline-block;
  }
  .team__sliders .header__slider-prev {
    right: 130px;
  }
  .team__sliders .header__slider-next {
    right: 52px;
  }
}

@media (max-width: 980px) {
  .team {
    overflow: hidden;
  }
  .team .team__title {
    font-size: 80px;
  }
  .team__title::after {
    left: 36%;
  }
}

@media (max-width: 768px) {
  .team .team__title {
    font-size: 60px;
  }
  .team__title::after {
    left: 55%;
  }
  .team__subtitle {
    left: 50%;
    top: 40%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    text-align: center;
  }
}

@media (max-width: 590px) {
  .team .team__title {
    font-size: 0px;
  }
  .team__title::after {
    bottom: 10px;
  }
  .team__subtitle {
    max-width: 100%;
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .abonement__subtitle {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    text-align: center;
    top: 32%;
  }
  .abonement__title::after {
    left: 50%;
  }
}

@media (max-width: 1100px) {
  .abonement__block {
    width: 97%;
    margin: 0 auto;
  }
  .abonement__block-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .abonement__block-top-img {
    margin-bottom: 20px;
  }
  .abonement__block-bottom-img {
    display: none;
  }
}

@media (max-width: 980px) {
  .abonement__block {
    padding: 25px;
  }
}

@media (max-width: 768px) {
  .abonement__block-top-line-red {
    width: 65px;
  }
  .abonement__block-top-items-list:not(:last-child) {
    margin-right: 55px;
  }
}

@media (max-width: 590px) {
  .abonement__subtitle {
    max-width: 100%;
    width: 100%;
  }
  .abonement__title::after {
    bottom: 10%;
    left: 55%;
  }
  .abonement__block {
    padding: 15px;
    margin: 40px auto 0;
  }
  .abonement__block-top-img {
    margin-bottom: 0px;
  }
  .abonement__block-top-left {
    display: none;
  }
  .abonement__block-bottom-text {
    display: block;
    text-align: center;
    margin-top: 15px;
  }
  .abonement__block-bottom-btn:last-of-type {
    margin: 0 0px 0 18%;
  }
}

@media (max-width: 450px) {
  .abonement__subtitle {
    font-size: 22px;
  }
  .abonement__block-bottom-form-label .check-title {
    font-size: 12px;
    line-height: 20px;
  }
  .abonement__block-bottom-btn {
    margin: 20px auto 20px;
    display: block;
  }
}

@media (max-width: 1450px) {
  .adress__title {
    font-size: 130px;
  }
}

@media (max-width: 1250px) {
  .adress__title {
    font-size: 100px;
  }
  .adress__title::after {
    left: 35%;
  }
  .adress__subtitle {
    left: 35%;
  }
}

@media (max-width: 1150px) {
  .adress-container {
    padding: 0 10px 149px;
  }
  .adress__bottom {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media (max-width: 980px) {
  .adress__title {
    font-size: 80px;
  }
  .adress__title::after {
    left: 39%;
  }
  .adress__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .adress__top-block {
    width: 35%;
  }
}

@media (max-width: 768px) {
  .adress__title {
    font-size: 60px;
  }
  .adress__top-block {
    width: 50%;
  }
  .adress__bottom {
    width: 95%;
  }
  .adress__bottom-contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .adress__botton-btn {
    margin: 10px auto;
  }
  .adress__bottom-right {
    text-align: center;
  }
  .adress__bottom {
    padding: 15px;
  }
  .adress__bottom-contact::before {
    bottom: -15px;
  }
}

@media (max-width: 590px) {
  .adress__title {
    font-size: 0;
  }
  .adress__title::after {
    left: 55%;
    top: auto;
    bottom: 30px;
  }
  .adress__subtitle {
    left: 50%;
    width: 100%;
  }
}

@media (max-width: 450px) {
  .adress__top-block {
    width: 80%;
  }
  .adress__subtitle {
    font-size: 23px;
  }
}

@media (max-width: 1100px) {
  .card__wrapper {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .card__block {
    width: 35%;
    margin-bottom: 75px;
  }
  .card__block:nth-child(3), .card__block:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 980px) {
  .card__block {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .card__title::after {
    bottom: 20%;
  }
}

@media (max-width: 590px) {
  .card__block {
    width: 65%;
  }
  .card__block:nth-child(3) {
    margin-bottom: 75px;
  }
}

@media (max-width: 450px) {
  .card__block {
    width: 80%;
  }
}

@media (max-width: 1100px) {
  .testimonial__slider-content {
    padding: 0 40px 48px 40px;
  }
  .testimonial__slider .slick-dots {
    right: 100px;
  }
  .testimonial__slider-text .slider-text {
    padding: 0 10px;
  }
}

@media (max-width: 980px) {
  .testimonial__slider-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .testimonial__slider-list {
    display: none;
  }
  .testimonial__slider-title {
    margin: 30px 0 30px;
  }
  .testimonial__slider .slick-dots {
    right: 0%;
  }
}

@media (max-width: 768px) {
  .testimonial__title::after {
    right: 34%;
  }
  .testimonial__slider .slick-dots {
    right: -15%;
  }
}

@media (max-width: 590px) {
  .testimonial__title::after {
    right: 55%;
  }
  .testimonial__slider .slick-dots {
    top: 27%;
  }
  .testimonial__subtitle {
    max-width: 100%;
    text-align: center;
    width: 100%;
    left: 50%;
  }
  .testimonial__slider-text {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .testimonial {
    padding-top: 0px;
  }
  .testimonial__slider-content {
    padding: 0 10px 10px 10px;
  }
}

@media (max-width: 1367px) {
  .footer__top {
    padding: 50px 10px;
  }
  .footer__bottom {
    padding: 25px 10px;
  }
}

@media (max-width: 1100px) {
  .footer__bottom-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__bottom-payment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__bottom-payment-block {
    margin-left: 0px;
  }
  .footer__bottom-develop {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__bottom-develop p:not(:last-child) {
    margin-right: 0px;
  }
}

@media (max-width: 980px) {
  .footer__social p {
    margin-right: 0;
  }
  .footer__top-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__phone {
    margin-right: 0px;
  }
}

@media (max-width: 768px) {
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__bottom-list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 15px 0;
  }
  .footer__bottom-list li:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 15px;
  }
  .footer__bottom-develop {
    margin-top: 15px;
  }
  .footer__bottom-payment-title {
    margin-bottom: 10px;
  }
}

@media (max-width: 590px) {
  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__phone {
    margin: 15px 0;
  }
  .footer__social-title {
    margin: 15px 0 0;
  }
}
/*# sourceMappingURL=main.css.map */