.abonement {
    @include bg-black($bg-black-lt);
    padding-bottom: 79px;

    &__title::after {
        left: 29.5%;
        bottom: 34%;
    }

    &__subtitle {
        display: flex;
        flex-direction: column;
        text-align: left;
        left: 20%;
        top: 45%;
        transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);

        & i {
            @include CircleBold();
            text-transform: lowercase;
            font-size: 20px;
            line-height: 29px;
            font-style: normal;
            color: $color-light;
        }
    }

    &__block {
        margin-top: 3px;
        border: 5px solid $color-light;
        padding: 60px;

        &-top {
            @include flexible(space-between);

            &-items {
                @include circleRegular();
                @include flexible(center);

                &-title {
                    font-size: 14px;
                    line-height: 21px;
                    color: $color-light;
                    margin-right: 45px;
                }

                &-list {
                    font-size: 14px;
                    line-height: 21px;
                    color: $color-light;
                    opacity: 0.2;
                }

                &-list:not(:last-child) {
                    margin-right: 117px;
                }

                .color-red {
                    color: $color-red;
                    opacity: 1;
                }
            }

            &-line {
                @include flexible(flex-start);
                height: 1px;
                background: $border-color-opacity;
                margin-top: 5px;

                &-red {
                    display: block;
                    height: 5px;
                    background: $color-red;
                    width: 131px;
                }
            }

            &-img {
                position: relative;

                & p {
                    @include CircleBold();
                    font-size: 24px;
                    line-height: 0;
                    color: $color-light;
                    position: absolute;
                    top: 50%;
                    left: 70px;
                    transform: translateY(-50%);
                    -webkit-transform: translateY(-50%);
                    -moz-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -o-transform: translateY(-50%);
                }
            }
        }

        &-bottom {
            margin-top: 40px;
            @include flexible(space-between);
            align-items: inherit;
            position: relative;

            &-left {
                width: 656px;
            }

            &-questions {
                display: flex;
                align-items: flex-end;

                & span {
                    @include circleRegular();
                    font-size: 15px;
                    line-height: 24px;
                    color: $color-light;
                    margin-left: 19px;
                }
            }

            &-question-figur {
                @include RussoOne();
                font-size: 36px;
                line-height: 36px;
                color: $color-figur;
                position: relative;

                & sub {
                    position: absolute;
                    left: 0;
                    bottom: 2px;
                    z-index: 2;
                    font-size: 16px;
                    line-height: 19px;
                    color: $color-red;
                }
            }

            &-title {
                font-weight: bold;
                font-size: 24px;
                line-height: 35px;
                color: $color-light;
                margin: 15px 0 40px;
                padding-bottom: 10px;
                border-bottom: 1px solid $border-color-opacity;
            }

            &-form-label {
                border: 1px solid $border-color-opacity;
                width: 100%;
                padding: 13px 0 13px 30px;
                @include flexible(flex-start);
                position: relative;
                cursor: pointer;

                &:not(:last-child) {
                    margin-bottom: 15px;
                }

                & .input-check {
                    position: absolute;
                    width: 1px;
                    height: 1px;
                    clip: rect(0 0 0 0);
                }

                & .check-style {
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    border: 1px solid $border-color-opacity;
                    margin-left: -20px;
                    display: block;
                }

                .input-check:checked+.check-style::before {
                    content: "+";
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    background: $color-red;
                    text-align: center;
                    vertical-align: middle;
                    font-size: 18px;
                    line-height: 18px;
                }

                .input-check:checked+.check-style {
                    border: 1px solid transparent;
                    color: $color-light;
                }

                & .check-title {
                    color: $color-light-op;
                    margin-left: 10px;
                    @include circleRegular();
                    font-size: 15px;
                    line-height: 23px;
                }
            }

            &-form-label.active {
                border-color: $color-red;
            }

            &-btn {
                margin-top: 20px;
                padding: 8px 0px;
                border: 1px solid $border-color-opacity;
                border-radius: 50px;
                color: $border-color-opacity;
                width: 160px;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                cursor: pointer;
            }

            &-btn:last-of-type {
                margin: 0 20px;
            }

            &-btn.active {
                @include btnRed(160px, 16px, 24px, 50px);
                color: $color-light;
                pointer-events: none;
            }

            &-text {
                @include circleRegular();
                font-size: 14px;
                line-height: 21px;
                color: $border-color-opacity;
            }

            &-img {
                width: 290px;
                position: absolute;
                right: 0;
                height: 483px;
                background: linear-gradient(180deg, #C80A2C 0%, #730519 100%);
                z-index: 9;
                top: 60px;

                &-text {
                    @include CircleBold();
                    color: $color-light;
                    width: 216px;
                    margin: 40px auto 28px;
                    text-align: center;
                    font-size: 20px;
                    line-height: 29px;
                }
            }
        }
    }
}