.statistik {
    @include bg-black($bg-black-lt);

    &__subtitle {
        display: block;
        text-align: left;
        left: 20%;
        top: 45%;
        transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
    }

    &__title::after {
        left: 30%;
        bottom: 40%;
    }

    &__wrapper {
        @include flexible(space-between);
        flex-wrap: wrap;
        align-items: flex-start;
    }

    &__block {
        width: 254px;
    }

    &__number {
        font-size: 36px;
        line-height: 43px;
        color: $color-red;
        @include RussoOne();
        padding-bottom: 15px;
        margin-bottom: 20px;
        position: relative;

        & ::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: 0;
            left: 0;
            background: -webkit-gradient(linear, left top, right top, from(#c80a2c), to(#1d1c21));
            background: linear-gradient(90deg, #c80a2c 0%, #1d1c21 100%);
        }

        & span {
            font-size: 20px;
            line-height: 30px;
            @include circleRegular();
        }
    }

    &-text {
        @include circleRegular();
        font-size: 15px;
        line-height: 24px;
        color:  $color-white;
    }

}