.team {
    background: linear-gradient(0deg, rgba(29, 28, 33, 0.85) 0%, #1D1C21 42.75%),
        url(../img/team_bg.jpg) no-repeat center;
    background-size: cover;
    padding-bottom: 185px;

    &__title {
        &::after {
            left: 30%;
            bottom: 40%;
        }
    }

    &__subtitle {
        display: block;
        text-align: left;
        left: 20%;
        top: 45%;
        transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
    }

    &__sliders {

        & .header__slider-btn {
            bottom: auto;
            left: auto;
            right: 0;
            top: -75px;
        }

        & .header__slider-prev {
            right: 86px;
        }

        & .slick-dots {
            position: absolute;
            display: flex;
            align-items: center;
            left: 0;
            right: 0;
            bottom: -63px;
            height: 2.5px;
            width: 100%;
            background: #ffffff20;

            & li {
                line-height: 0;
                font-size: 0;

                & button {
                    line-height: 0;
                    font-size: 0;
                    height: 5px;
                    width: 160px;
                }
            }

            & li.slick-active button{
                background: $color-red;
            }
        }
    }

    &__slider-block {
        position: relative;
        line-height: 0;
        width: 255px;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 3;
            background: linear-gradient(180deg, rgba(200, 10, 44, 0) 12.5%,
                    rgba(200, 10, 44, 0.3) 85.42%,
                    rgba(200, 10, 44, 0.5) 100%);

        }

        &:hover::before {
            background: transparent;
        }

        &::after {
            position: absolute;
            content: "";
            width: 175px;
            height: 5px;
            background: $color-red;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
        }

        &-wrapp {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
            z-index: 4;
        }

        &-name {
            @include CircleBold();
            font-size: 20px;
            line-height: 29px;
            text-align: center;
            color: $color-white;
        }

        &-jobs {
            @include circleRegular();
            margin-bottom: 20px;
            font-size: 15px;
            line-height: 24px;
            color: $color-white;
        }

        &-label {
            display: block;
            padding: 3px 0 3px 26px;
            height: 26px;
            width: 176px;
            background: $color-red url(../img/logo-mini.jpg) no-repeat left center;
            font-size: 14px;
            line-height: 21px;
            text-align: center;
            color: $color-white;
            @include circleRegular();
            position: absolute;
            top: 0;
            right: 26px;
            transform: rotate(-90deg);
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            transform-origin: top right;
        }

        &-btn {
            font-size: 0;
            line-height: 0;
        }

        &:hover &-btn {
            width: 175px;
            @include circleRegular();
            padding: 8px 0 8px;
            margin-bottom: 30px;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: $color-white;
            background: $color-red;
            border-radius: 40px;
        }

        &:hover &-jobs {
            margin-bottom: 10px;
        }
    }
}