@media(max-width:1200px) {
    .abonement {
        &__subtitle {
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            top: 32%;
        }

        &__title::after {
            left: 50%;
        }
    }
}

@media(max-width:1100px) {
    .abonement {
        &__block {
            width: 97%;
            margin: 0 auto;
        }

        &__block-top {
            flex-direction: column-reverse;
            align-items: flex-start;
        }

        &__block-top-img {
            margin-bottom: 20px;
        }

        &__block-bottom-img {
            display: none;
        }
    }
}

@media(max-width:980px) {
    .abonement__block {
        padding: 25px;
    }
}

@media(max-width:768px) {
    .abonement {
        &__block-top-line-red {
            width: 65px;
        }

        &__block-top-items-list:not(:last-child) {
            margin-right: 55px;
        }
    }
}

@media(max-width:590px) {
    .abonement__subtitle {
        max-width: 100%;
        width: 100%;
    }

    .abonement__title::after {
        bottom: 10%;
        left: 55%;
    }

    .abonement__block {
        padding: 15px;
        margin: 40px auto 0;
    }

    .abonement__block-top-img {
        margin-bottom: 0px;
    }

    .abonement__block-top-left {
        display: none;
    }

    .abonement__block-bottom-text {
        display: block;
        text-align: center;
        margin-top: 15px;
    }

    .abonement__block-bottom-btn:last-of-type {
        margin: 0 0px 0 18%;
    }
}

@media(max-width:450px){
    .abonement__subtitle {
        font-size: 22px;
    }

    .abonement__block-bottom-form-label .check-title {
        font-size: 12px;
        line-height: 20px;
    }

    .abonement__block-bottom-btn {
        margin: 20px auto 20px;
        display: block;
    }
}
