@media(max-width:1100px) {
    .card__wrapper {
        justify-content: space-around;
    }

    .card__block {
        width: 35%;
        margin-bottom: 75px;

        &:nth-child(3),
        &:last-child{
            margin-bottom: 0;
        }
    }
}

@media(max-width:980px) {
    .card__block {
        width: 40%;
    }
}

@media(max-width:768px) {
    .card__title::after {
        bottom: 20%;
    }
}

@media(max-width:590px) {
    .card__block {
        width: 65%;

        &:nth-child(3)
        {
            margin-bottom: 75px;
        }
    }
}

@media(max-width:450px) {
    .card__block {
        width: 80%;
    }
}