@media(max-width:1450px) {
    .adress{
        &__title {
            font-size: 130px;
        }
    }
}

@media(max-width:1250px) {
    .adress{
        &__title {
            font-size: 100px;

            &::after {
                left: 35%;
            }
        }

        &__subtitle {
            left: 35%;
        }
    }
}

@media(max-width:1150px){
    .adress-container {
        padding: 0 10px 149px;
    }

    .adress__bottom {
        left: 50%;
        transform: translateX(-50%);
    }
}

@media(max-width:980px){
    .adress__title {
        font-size: 80px;
    }
    
    .adress__title::after {
        left: 39%;
    }

    .adress__top {
        flex-direction: column;
        align-items: center;
    }

    .adress__top-block {
        width: 35%;
    }
}

@media(max-width:768px){
    .adress__title {
        font-size: 60px;
    }

    .adress__top-block {
        width: 50%;
    }

    .adress__bottom {
        width: 95%;
    }

    .adress__bottom-contact {
        flex-direction: column;
        align-items: center;
    }

    .adress__botton-btn {
        margin: 10px auto;
    }

    .adress__bottom-right {
        text-align: center;
    }

    .adress__bottom {
        padding: 15px;
    }

    .adress__bottom-contact::before {
        bottom: -15px;
    }
}

@media(max-width:590px){
    .adress__title{
        font-size: 0;

        &::after {
            left: 55%;
            top: auto;
            bottom: 30px;
        }
    }

    .adress__subtitle {
        left: 50%;
        width: 100%;
    }
}

@media(max-width:450px){
    .adress__top-block {
        width: 80%;
    }

    .adress__subtitle {
        font-size: 23px;
    }
}