@media(max-width:1800px) {
    .title-inner {
        font-size: 150px;
    }
}

@media(max-width:1367px) {
    .title-inner {
        font-size: 130px;
        line-height: 200px;
        text-shadow: 0px 0px 10px $color-text-shadow,
            0px 0px 10px $color-text-shadow,
            0px 0px 10px $color-text-shadow,
            0px 0px 10px $color-text-shadow;
    }

    .subtitle-inner {
        font-size: 30px;
        line-height: 38px;
    }

}

@media(max-width:1200px) {

    .title-inner {
        font-size: 100px;
    }

    .subtitle-inner {
        font-size: 25px;
        max-width: 440px;
    }
}

@media(max-width:980px) {
    .title-inner {
        font-size: 80px;
        line-height: 150px;
    }

    .subtitle-inner {
        font-size: 20px;
        line-height: 25px;
    }
}


@media(max-width:768px) {
    .title-inner {
        font-size: 60px;
        line-height: 120px;
    }

    .subtitle-inner {
        font-size: 15px;
        line-height: 20px;
    }
}

@media(max-width:590px) {
    .title-inner {
        font-size: 0;
    }

    .subtitle-inner {
        font-size: 25px;
        line-height: 30px;
    }
}