
@media(max-width:1550px) {
    .team {
        & &__title {
            font-size: 150px;
        }
    }
}

@media(max-width:1350px) {
    .team {
        & &__title {
            font-size: 130px;
        }

        &__sliders .header__slider-btn {
            top: -50px;
        }
    }
}

@media(max-width:1200px) {
    .team {
        &__title::after {
            left: 35%;
        }

        & &__title {
            font-size: 100px;
        }

        &__slider-block {
            margin: 0 auto;
        }

        &__sliders .slick-dots {
            width: 80%;
            margin: 0 auto;

            & li{
                width: 14.5%;

                button {
                    width: 100%;
                    display: inline-block;
                }
            }
        }

        &__sliders .header__slider-prev {
            right: 130px;
        }

        &__sliders .header__slider-next {
            right: 52px;
        }
    }
}

@media(max-width:980px) {
    .team {
        overflow: hidden;

        & &__title {
            font-size: 80px;
        }

        &__title::after {
            left: 36%;
        }
    }
}

@media(max-width:768px) {
    .team {

        & &__title {
            font-size: 60px;
        }

        &__title::after {
            left: 55%;
        }

        &__subtitle {
            left: 50%;
            top: 40%;
            transform: translateX(-50%);
            text-align: center;
        }
    }
}

@media(max-width:590px) {
    .team {
        & &__title {
            font-size: 0px;
        }

        &__title::after {
            bottom: 10px;
        }

        &__subtitle {
            max-width: 100%;
            width: 100%;
        }
    }
}
