$color-white:#fff;
$color-red:#C80A2C;
$color-redline:#C80A38;
$color-black: #000;
$color-light: #F9F9FB;
$color-light-op:#f9f9fb59;
$color-title: #1D1C21;
$color-text-shadow: #C80a2C21;
$color-figur: #f9f9fc10;
$color-footer: #666473;

$border-color-opacity: #ffffff20;

$bg-section: linear-gradient(0deg, rgba(29, 28, 33, 0.85) 0%, #1D1C21 42.75%);
$bg-benefits-block: linear-gradient(0deg, rgba(29, 28, 33, 0.9), rgba(29, 28, 33, 0.9));
$bg-black-lt: #1D1C21;
$bg-black-primary: #25232A;
